<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<h1>About</h1>
			<img src="{{ "/assets/profile.jpg" | relative_url }}" alt="이현우">
			<h2>이현우</h2>
			<p class="tagline">데이터 분석을 공부하는 학생</p>
			<ul class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/HYEONWOO-LEE"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.facebook -%}
				<a href="https://www.facebook.com/profile.php?id=100007922648122"><li><i class="icon-facebook-squared"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.instagram -%}
                <a href="https://instagram.com/eworiot/"><li><i class="icon-instagram-squared"></i></li></a>
                {%- endif -%}
			</ul>
			<p>&copy; 2019</p>
			<p>I like</p>
			<p>Data Analysis</p>
			<p>AI Marketing</p>
			<p>Data Marketing</p>
			<p>Machine learning</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
